package components

templ AuthHeader() {
	<div class="text-xl flex gap-2">
		<div class="relative after:content-['|']">
			<a href="/login">Логин</a>
		</div>
		<a href="/register">Регистрация</a>
	</div>
}
